# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
reports
logs
screenshots
local-settings.json
nightwatch-runtime.json
.DS_Store
.vscode
